article {
  width: 90vw;

  margin: 50px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.article-types {
  width: 90vw;
  margin: 50px auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.type-1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 20px;
}
.types-imgs {
  width: 100px;

  display: block;
}
.type-2 {
  width: 40%;
  padding-left: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.type-3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.types-wrapper h2 {
  font-size: 32px;
  color: #c5c3cd;
  margin-bottom: 5px;
}
/* 320px, 480px, 768px, 1024px, and 1200px. */

@media (max-width: 768px) {
  .article-types {
    flex-direction: column;
    gap: 20px;
  }
  .type-1 {
    width: 100%;
    padding-left: 0;
  }
  .type-2 {
    width: 100%;
    padding-left: 0;
  }
  .type-3 {
    width: 100%;
    padding-left: 0;
  }
}
